*{
    margin: 0;
    box-sizing: border-box;
}
body{
    background: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
}

.contenedor{
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;

}


header{
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 100%;
    height: 40rem;
    background-color: #E4E8E9;
    box-sizing: border-box;
    padding: 0 10px 0 10px;
    /* box-shadow: 0px -5px 10px -1px #666666; */
}

.logo{
    display:flex;
    width: 200px;
    height: 100px;
    cursor: pointer;
    position: absolute;
}

header i{
    position:relative;
    bottom: -10px ;
    left: 95%;
    margin: 5px 5px;
    color: #5d6061;
    cursor: pointer;
}

.list{
    display: inline-block;
    list-style:none;
    position: relative;
}

/* .navContainer{ 
    position: relative;
    text-align: center;
    display: inline;
    height: 60px;
} */

.navBar{
    margin: auto;
    position: relative;
    width: 100%;
    top: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:center;
}

.menu-nav{
    display:flex;
    flex-wrap: wrap;
    width: 100%;
    /* margin: auto; */
    position: absolute;
    top: 15px;
    justify-content:  center;
    align-items: center;
}

.listItems{
    display: flex;
    margin: auto;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: absolute;
}


.link{
    text-decoration: none;
    color: #5d6061;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 30px 0 30px;
    display: block;
}

.link:hover {
    text-decoration: underline;
}


.container-slider{
    position:relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: flex-end;
    justify-content: center;
}

.slider{
    height: 500px;
    width: 100vw;
    display: flex;
    perspective: 1000px;
    position: absolute;
    top: 100px;
    align-items: flex-end;
}

.box1 {
    background-image: url(/img/1.jpg);
    background-size: cover;
    background-position: center center;
}

.box2 {
    background-image: url(/img/2.jpg);
    background-size: cover;
    background-position: center center;
}

.box3 {
    background-image: url(/img/3.jpg);
    background-size: cover;
    background-position: center center;
}

.box4 {
    background-image: url(/img/4.jpg);
    background-size: cover;
    background-position: center center;
}

.box5 {
    background-image: url(/img/5.jpg);
    background-size: cover;
    background-position: center center;
}

.box6 {
    background-image: url(/img/6.jpg);
    background-size: cover;
    background-position: center center;
}

.box7{
    background-image: url(/img/7.jpg) ;
    background-size: cover;
    background-position: center center;
}


.slider [class*="box"] {
    /* float: left; */
    overflow: hidden;
    border-radius: 20px;
    transition: all 1s cubic-bezier(0.68, -0.6, 0.32, 1.6);
    position: absolute;
    box-shadow: 0px 5px 10px -1px #666666;
}

.slider [class*="box"]:nth-child(7),
.slider [class*="box"]:nth-child(1) {
    width: 100vh;
    height: 60vh;
    transform: scale(0.2) translate(-50%, -50%);
    top: 10%;
    z-index: 1;
}

.slider [class*="box"]:nth-child(2),
.slider [class*="box"]:nth-child(6) {
    width: 100vh;
    height: 60vh;
    transform: scale(0.4) translate(-50%, -50%);
    top: 20%;
    z-index: 2;
}

.slider [class*="box"]:nth-child(3),
.slider [class*="box"]:nth-child(5) {
    width: 100vh;
    height: 60vh;
    transform: scale(0.6) translate(-50%, -50%);
    top: 30%;
    z-index: 3;
}

.slider [class*="box"]:nth-child(4) {
    width: 50vw;
    height: 60vh;
    border-color: #c92026;
    color: #fff;
    transform: scale(1) translate(-50%, -50%);
    top: 50%;
    z-index: 4;
}

.slider [class*="box"]:nth-child(1),
.slider [class*="box"]:nth-child(2) {
    opacity: 0.1;
}

.slider [class*="box"]:nth-child(3),
.slider [class*="box"]:nth-child(5) {
    opacity: 0.6;
}

.slider [class*="box"]:nth-child(6),
.slider [class*="box"]:nth-child(7) {
    opacity: 0.1;
}

.slider [class*="box"]:nth-child(1) {
    left: -13%;
}

.slider [class*="box"]:nth-child(2) {
    left: -5%;
}

.slider [class*="box"]:nth-child(3) {
    left: 10%;
}

.slider [class*="box"]:nth-child(4) {
    left: 50%;
}

.slider [class*="box"]:nth-child(5) {
    left: 71%;
}

.slider [class*="box"]:nth-child(6) {
    left: 85%;
}

.slider [class*="box"]:nth-child(7) {
    left: 100%;
}


.slider .firstSlide {
    animation: firstChild 1s;
}


/* Menu */

.menus{
    background-color: #d8d5d5;
    /* box-sizing: border-box; */
    padding: 60px 0;
    /* box-shadow: 0px 5px 10px -1px #666666; */
}

.menus .contenedor{
    position: relative;
    /* max-width: 600px; */
    margin: auto;
    overflow: hidden;
    width: 100%;
}


.titulo-menu{
    font-size: 34px;
    line-height: 34px;
    margin-bottom: 40px;
    font-weight: 300;
    color: #323068;
    text-align: center;
}

.menus .contenedor-menus{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.menus .contenedor-menus .menu{
    width: 23%;
    margin-bottom: 40px;
 }
 
 .menus .contenedor-menus .menu .thumb{
    width: 100%;
    margin-bottom: 10px;
    position: relative;
}

.thumb .content-overlay{
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    opacity: 0;
    transition: all 0.4s ease-in-out 0s;
}

.thumb:hover .content-overlay{
    opacity: 1;
}

.content-details{
    position: absolute;
    display:  block;
    padding-left: 1em;
    padding-right: 1em;
    text-align: center;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease-in-out 0s; 
}

.thumb:hover .content-details{
    top: 50%;
    left: 50%;
    opacity: 1;
    
}

.thumb:hover{
    box-shadow: 0px 5px 10px -1px #666666;
}

.content-details p, i{
    color: #fff;
    font-size: 1em;
    align-items: center;
    justify-content: center;
}

.content-details i{
    margin: 30px 5px 0 5px;
    cursor: pointer;
}

.content-details i:hover{
    box-sizing: border-box;
    font-size: 2em;
}


.menus .contenedor-menus .menu .thumb img{
    width: 100%;
    vertical-align: top;
    border-radius: 3px;
}

.menus .contenedor-menus .menu .descripcion{
    text-align: center;
}

.menus .contenedor-menus .menu .nombre{
    font-weight: 700;
    color: #5d6061;
    margin-bottom: 10px;
}
























/*
payano mapa
*/

/* .mapa{
    position: relative;
    
}

.mapouter {
    position: absolute;
    text-align: right;
    width: 1090px;
    height: 496px;
}

.gmap_canvas {
    overflow: hidden;
    background: none;
    width: 1090px;
    height: 496px;
}

.gmap_iframe {
    width: 1090px;
    height: 496px;
} */



/*
formulario
 */
/* form {
    margin: 0 auto;
    width: 400px;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
} */

/* form li+li {
    margin-top: 1em;
}

label {
    
    display: inline-block;
    width: 100px;
    text-align: right;
} */


/* .navBar .listItems{
   display: flex;
} */

#checkbox{
    display: none;
    cursor: pointer;
}
/* @media screen and (max-width: 1000px) {
    header{
        box-shadow: 0px -5px 10px 5px #000000;
        width: 100%;
    }
    
    
    
    
} */

@media screen and (max-width: 600px){
    header{
        width: 100%;
    }
  
    .logo{
        
        width: 135px;
        height: 75px;
    }
  
    .slider{
        display: none;
    }
    
    .listItems{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #fff;
        top: 80px;
        left: 90%;
        text-align: center;
        transition: all 0.5s;
    }
    
    #checkbox:checked ~ .listItems{
        left: 0;
    }
    
    .link:hover{
        text-decoration: none;
    }
    
    .list{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    .list .link:hover, .list .link:active{
        background: none;
        color: red;
    }

    .menu-nav{
        width: 100%;
        max-height: 0;
    }
  
    .menu-nav .listItems .link{
        font-size: 20px;
    }
    
    
    /* .slider{
        width: 400px;
        max-width: 400px;
        height: 400px;
        max-height: 400px;
    } */
    
    .hamburger{
        position: absolute;
        right: 0;
        top: -10px;
        padding: 20px;
        display: inline-flex;
        align-items: center;
        /* justify-content: center; */
        cursor: pointer;
        
    }

     .line{
        position: absolute;
        width: 21px;
        height: 2px;
        background-color: #000000;
        border-radius: 3px;
        transition: transform .25s, opacity .35s;
    }
    
    .line--top{
        transform: translateY(-7px);
    }
    .line--bottom{
        transform: translateY(7px);
    }
    
    #checkbox:checked~.line--top{
        transform: rotate(45deg);
    }
    #checkbox:checked~.line--middle{
        transform: translateX(-16px);
        opacity: 0;
    }
    #checkbox:checked~.line--bottom{
        transform: rotate(-45deg);
    }
}

/* .mapouter {
  position: relative;
  text-align: right;
  width: 1330px;
  height: 496px;
}

.gmap_canvas {
  overflow: hidden;
  background: none;
  width: 1330px;
  height: 496px;
}

.gmap_iframe {
  width: 1330px ;
  height: 496px ;
} */


/* .img-carnitas {
  width: 20pc;
  height: 20pc;
}

.img-HAMBURGESA {
	width: 20pc;
  height: 20pc;
}

.img-HOTDOG {
	width: 20pc;
  height: 20pc;
}

.img-POLLO {
	width: 20pc;
  height: 20pc;
}

.Nombre{
	width: 5pc;
  height: 5pc;
}

.mail{
	width: 5pc;
  height: 5pc;
}

.coment{
  width: 5pc;
  height: 5pc;
} */

/*
formulario
*/
/* form {
  
  margin: 0 auto;
  width: 400px;
  
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
} */
/*
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

form li + li {
  margin-top: 1em;
}
*/

/* label {

  display: inline-block;
  width: 90px;
  text-align: right;
}

input,
textarea {
    
    font: 1em sans-serif;

    
    width: 300px;
    box-sizing: border-box;

    
    border: 1px solid #999;

  
  font: 1em sans-serif;

  
  width: 300px;
  box-sizing: border-box;

  border: 1px solid #999;
}

input:focus,
textarea:focus {
    
    border-color: #000;
}

textarea {
    
    vertical-align: top;

   
    height: 5em;
}

.button {
  
  padding-left: 90px; 
}

button {
   
    background-color: black;
  
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    background: #4fb560;
    color: #fff;
    border-color: #000;
}

textarea {
  
  vertical-align: top;


  height: 5em;
} */








/* footer */

footer .contacto{
    padding: 60px 0;
}

footer .contacto .titulo{
    font-size: 34px;
    line-height: 34px;
    margin-bottom: 40px;
    font-weight: 300;
    color: #3895ea;
    text-align: center;
}

footer .contacto .formulario{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .contacto .formulario input[type="text"],
footer .contacto .formulario input[type="email"],
footer .contacto .formulario textarea{
    border: 2px solid #cecece;
    border-radius: 5px;
    padding: 15px 20px;
    font-size: 20px;
    color:#a4a4a4;
}

footer .contacto .formulario input[type="text"],
footer .contacto .formulario input[type="email"]{
    width: 48%;
    margin-bottom: 15px;
}

footer .contacto .formulario textarea{
    width: 100%;
    height: 100px;
    min-width: 100%;
    max-width: 100%;
    min-height: 100px;
    max-height: 300px;
    margin-bottom: 15px;
}

footer .contacto .formulario input[type="text"]:focus,
footer .contacto .formulario input[type="email"]:focus,
footer .contacto .formulario textarea:focus{
    border: 2px solid #4fb560;
    outline: none;
}

footer .contacto .formulario .boton{
    margin: auto;
    background: #3895ea;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 15px 40px;
}

footer .contacto .formulario input[type="submit"]:hover{
    background: #4fb560;
    color: #fff;
}

footer .redes-sociales{
    background: #1e2b38;
    
}
footer .redes-sociales .contenedor{
    display: flex;
    justify-content: center;
    align-items: baseline;
}
footer .redes-sociales a{
    color: #fff;
    text-align: center;
    display: block;
    width: 100px;
    padding: 15px 0;
    border-radius: 3px;
    font-size: 40px;
    margin: 0px 20px;
}

footer .redes-sociales .twitter:hover{
    background: #1da1f2;
}
footer .redes-sociales .facebook:hover{
    background: #1877f2;
}
footer .redes-sociales .youtube:hover{
    background: #ff0000;
}footer .redes-sociales .github:hover{
    background: #fff;
    color: #000;
}
footer .redes-sociales .instagram:hover{
    background: #405de6;
}


.ir-arriba{
    display:none;
    padding: 20px;
    background: #323068;
    font-size: 15px;
    color: #fff;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
}
